.board {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.board-card {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cardRevealedColor);
  color: white;
  border-radius: 20px;
  font-size: 20px;
  height: var(--cardHeight);
  width: var(--cardWidth);
  transition: 0.25s;
}

.board-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--cardHiddenColor);
  transition: 1s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 20px;
}

.board-card:hover::after {
  scale: 1.1;
}

.board-card.verb-selected {
  transform: rotateY(0deg);
}

.verb-selected::after,
.correct::after {
  transform: rotateY(180deg);
}

.correct {
  transform: rotateY(0deg);
}

.correct > * {
  transform: rotateY(0deg);
}

@media (max-width: 800px) {
  .board {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    justify-items: center;
  }

  .board-card {
    height: 100px;
    width: 80px;
    border-radius: 10px;
    font-size: 14px;
  }

  .board-card::after {
    border-radius: 10px;
  }
}
