:root {
  --columnsEasyMode: 3;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--columnsEasyMode), 1fr);
  gap: 20px;
}

.board-card {
  position: relative;
  background-color: rgb(77, 77, 222);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 2rem;
  padding: 70px 0px 70px 0px;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.board-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.board-card.verb-selected {
  transform: rotateY(0deg);
}

.verb-selected::after,
.correct::after {
  transform: rotateY(180deg);
}

.correct {
  transform: rotateY(0deg);
}

.correct > * {
  transform: rotateY(0deg);
}
